html {
  font-family: "Cambria";
}
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: darkslategray;
  width: 70%;
  margin-top: -1%;
  font-size: 1.25em;
  padding: 1.5% 2.5% 1.5% 2.5%;
  height: 1.5625em;
  font-size: 1.5vw;
}

.start {
  flex: 1 1 auto;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 75%;
}

.open,
.modal {
  display: none;
}

.header a {
  color: white;
  text-decoration: none;
  padding-right: 0.625em;
}

.menu__box,
#menu__toggle {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 0px);
}

/*Слайдер*/
.slider {
  width: 72vw;
  margin: 1.125em auto;
  position: relative;
  margin-bottom: 9.1vw;
  border-radius: 3.4375em;
  margin-top: 1.2vw;
}

/*Скрыли кнопки radio*/
.slider input[name="slide"] {
  display: none;
}

/*Расположение кнопок слайдера*/
.controls {
  position: absolute;
  bottom: -2.5em;
  left: 0;
  text-align: center;
  width: 100%;
}

/* Стилизация кнопок слайдера */
.controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0.3%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #d2dce6;
}

/*Измненение стиля кнопки слайдера при нажатии*/
#slide-1:checked~.controls label[for="slide-1"],
#slide-2:checked~.controls label[for="slide-2"],
#slide-3:checked~.controls label[for="slide-3"],
#slide-4:checked~.controls label[for="slide-4"],
#slide-5:checked~.controls label[for="slide-5"] {
  background-color: red;
  width: 1.875em;
  border-radius: 0.9375em;
  animation-name: slider;
  animation-duration: 0.25s;
}

/*Стили блока со слайдами*/
.slider-in {
  overflow: hidden;
  border-radius: 1.5625em;
}

/*Стили слайда*/
.slides {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 35vw;
}

.slides img {
  min-width: 100%;
}

/*перход по слайдам*/
#slide-1:checked~.slider-in .slides {
  transform: translate(0);
  transition: all 0.7s;
}

#slide-2:checked~.slider-in .slides {
  transform: translate(-100%);
  transition: all 0.7s;
}

#slide-3:checked~.slider-in .slides {
  transform: translate(-200%);
  transition: all 0.7s;
}

#slide-4:checked~.slider-in .slides {
  transform: translate(-300%);
  transition: all 0.7s;
}

#slide-5:checked~.slider-in .slides {
  transform: translate(-400%);
  transition: all 0.7s;
}

/*Стили блока с основной информацией*/
.main {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5vw;
}

/*Стиль блока с типами магазинов*/
.main-tile {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-self: center;
  justify-content: center;
}
/*стиль для каждого элемента "магазина" */
.main-tile .tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1.0625em 5.625em -1.3125em rgb(0 0 0 / 80%);
  border-radius: 0.9375em;  
  height: 12vw;
  width: 21vw;
  margin: -5.5vw 1.5vw 0vw 1.5vw;
}

.tile img {
  width: 11.5vw;
  padding: 4.5vw;
}

.tile:hover {
  transform: scale(1.08);
  transition: 0.5s;
  transition-timing-function: ease-out
}

.tile:nth-child(1) {background-color: red;}
.tile:nth-child(2) {background-color: #2f4f4f;}
.tile:nth-child(3) {background-color: yellow;}

/*основной блок с инф. о компании*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
  padding-top: 3.4375em;
  
  
}
/*блок содержащий инфу*/
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8vw;
  font-family: "Nunito Sans";
  color: #ffffff;
  margin: 10vw 3vw 7vw 3vw;
}

.info-item img {
  max-width: 100%;
  width: 7vw;
}

.info-item-header {
  line-height: 1.5625em;
  font-weight: 800;
  text-align: center;
}

.info-item-footer {
  text-align: center;
}
/*Основной блок слайдера видео*/
.slider-video {
  position: relative;
  display: block;
  margin-top: -1.2vw;
  
  justify-content: center;
}
/*блок содержащий видео в слайдере*/
.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.in-video {
  overflow: hidden;
}
/*стилизация видео*/
.video video {
  border-radius: 25px;
  opacity: 0.5;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  height: 40vw;
  width: 80vw;
}
/*расположение кнопок видео-слайдера*/
.controls-video-slide {
  position: absolute;
  bottom: 2%;
  text-align: center;
  width: 100%;
}
/*стили кнопок видео-слайдера*/
.controls-video-slide label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0.3%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7d8d8;
}
/*стиль кнопки активного слайда*/
#slide-1-video:checked~.controls-video-slide label[for="slide-1-video"],
#slide-2-video:checked~.controls-video-slide label[for="slide-2-video"] {
  background-color: red;
  width: 1.875em;
  border-radius: 0.9375em;
  animation-name: slider;
  animation-duration: 0.5s;
}
/*переход по слайдам*/
#slide-1-video:checked~.in-video .video {
  transform: translate(74vw);
  transition: all 1s;
  margin-left: 4vw;
}

#slide-2-video:checked~.in-video .video {
  transform: translate(2vw);
  transition: all 1s;
  margin-right: 4vw;
}

#slide-1-video:checked~.in-video .video video:nth-child(2),
#slide-2-video:checked~.in-video .video video:nth-child(3) {
  opacity: unset;
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*блок внутри футера*/
.info-footer {
  display: flex;
  flex-direction: row;
  background-color: #2f4f4f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -1%;
  width: 70%;
  padding: 1.5% 1.5% 1.5% 1.5%;
}

.info-footer a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 700;
  align-self: center;
}
/*блок футера с ссылкой*/
.info-footer-link {
  width: 55vw;
}
/*блок футера с картинкой*/
.info-footer-img {
  margin-left: 41.5%;
}

.info-footer-img img {
  width: 6.25em;
}
/*анимация кнопки слайдера*/
@keyframes slider {
  from {
    background-color: red;
    width: 10px;
    height: 10px;
  }

  10% {
    background-color: red;
    width: 12px;
    height: 10px;
  }

  20% {
    background-color: red;
    width: 14px;
    height: 10px;
  }

  30% {
    background-color: red;
    width: 16px;
    height: 10px;
  }

  40% {
    background-color: red;
    width: 18px;
    height: 10px;
  }

  50% {
    background-color: red;
    width: 20px;
    height: 10px;
  }

  60% {
    background-color: red;
    width: 22px;
    height: 10px;
  }

  70% {
    background-color: red;
    width: 24px;
    height: 10px;
  }

  80% {
    background-color: red;
    width: 26px;
    height: 10px;
  }

  90% {
    background-color: red;
    width: 28px;
    height: 10px;
  }

  to {
    background-color: red;
    width: 30px;
    height: 10px;
  }
}