@media screen and (max-width:950px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    display: grid;    
    grid: auto 1fr 2.2fr 0 auto / 100%;
    min-height: 100vh;
    row-gap: 2.4vw;
    
  }

  /*Отключили навигацию десктопной версии и видео-слайдер*/
  .head_nav a:nth-child(n+2),
  .slider-video {
    display: none;
    visibility: hidden;
  }

  /*Включили кнопки открытия/закрытия навигации моб.версии*/
  .openBtn,
  .closeBtn {
    display: unset;
  }

  .head_nav {
    display: grid;
    grid: 100% / 70% 30%;
    font-size: 5vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    
  }

  /*модальное окно навигации */
  .modal-nav {
    display: unset;
    visibility: hidden;
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    transform: translateY(-100%);
    /* по умолчанию модальное окно cкрыто */
    pointer-events: none;
    /* элемент невидим для событий мыши */
    transition: 0.7s;
    font-size: 5vw;
    z-index: 1050;
  }

  .modal-nav:target {
    visibility: visible;
    transform: translateY(0%);
    /* делаем окно видимым */
    pointer-events: auto;
    /* элемент видим для событий мыши */
  }

  .modal-nav-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2f4f4f;
    height: 100vh;
    width: 105%;
  }

  .modal-nav a {
    text-decoration: none;
    color: white;
  }

  .modal-nav-header {
    display: grid;
    grid: 100%/ 70% 30%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
  }

  .modal-nav-body {
    display: grid;
    grid: repeat(5 auto)/ 100%;
    row-gap: 5vh;
    justify-content: center;
    text-align: center;
    margin-top: 25vh;
  }

  /* свойства для кнопки "Закрыть" */
  .closeBtn img {
    width: 8vw;
  }

  .slider-img {
    width: 98%;
    height: 85vh;
  }

  .slides-img-container {
    width: 100%;
  }

  .slides-img {
    width: 100%;
    height: 100%;
  }

  /*замена картинок для слайдера с вертикальной
  ориентацией*/
  .slides-img img:nth-child(1) {
    content: url('/img/first.jpg');
  }

  .slides-img img:nth-child(2) {
    content: url('/img/second.jpg');
  }

  .slides-img img:nth-child(3) {
    content: url('/img/third.jpg');
  }

  .slides-img img:nth-child(4) {
    content: url('/img/fourth.jpg');
  }

  .slides-img img:nth-child(5) {
    content: url('/img/fifth.jpg');
  }

  main {
    margin: 0;
    height: 300vw;
  }

  /*Грид контейнер с типами магазинов*/
  .store-grid-container {
    display: grid;
    grid: repeat(3, 50%)/ 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;

  }

  .store {
    display: flex;
    height: 32vw;
    width: 65vw;
    justify-content: center;
    align-items: center;
  }

  .store img {
    width: 50vw;
  }

  .store a {
    padding: 14vw 8vw 14vw 8vw;
  }

  /*Грид контейнер с информацией о компании*/
  .company-grid-container {
    margin-top: 74vw;
    display: grid;
    grid: repeat(3, auto)/repeat(2, 40%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 20vw;
  }

  /*выравнивание иконки и текста с инф. о кол-ве городов*/
  .sub {
    margin-left: 100%;
  }

  /*выравнивание иконки и текста с инф. о кол-ве городов*/
  .city {
    margin-top: 4.7vw;
  }

  /*выравнивание текста по низу в инф. о компании*/
  .company {
    align-items: flex-end;
  }

  .company img {
    width: 25vw;
    margin-bottom: 7vw;
  }

  .company .number {
    font-size: 7vw;
  }

  .company p {
    font-size: 4vw;
  }

  .footer {
    display: grid;
    grid: 15% 55%/ 69%;
    height: 15vh;
    width: 100%;
    justify-items: center;

  }

  .footer a {
    order: 1;
    font-size: 4vw;
    margin-top: 7vw;
  }

  .footer img {
    order: 0;
    width: 20vw;
    margin-top: 4vw;
  }
}